.outer-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-color: var(--Very-Light-Gray);
  color: var(--Super-Dark-Blue);
}
.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  padding-bottom: 4.2rem;

 

}

button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  cursor: pointer;
}
li,
a {
  list-style-type: none;
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: none;
  color: inherit;
}
li{
  min-width: max-content;
}
a{
  cursor: pointer;
}
p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
}
fieldset {
  border: none;
}
button:hover,a:hover{
  scale:1.1;
  transition: .3s ease-in-out;

}